/* GENERAL */

@font-face {
  font-family: "asiana";
  src: url("fonts/asiana.ttf");
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-direction: column;
  background-color: #BEAFA3;
  background: url("images/black-sand.jpg");
  background-size: cover;
  font-family: "asiana", sans-serif;
}

h1, h2, p {
  text-align: center;
  color: white;
}

p {
  font-weight: bold;
}

/* HEADER */

h1 {
  margin: 0;
  padding: 7%;
  font-family: "asiana", sans-serif;
  font-size: 3em;
}

/* WRAPPER */

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rock, .paper, .scissors, .computer-choice {
  position: relative;
  width: 20%;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: solid white 5px;
  border-radius: 50%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rock:hover, .paper:hover, .scissors:hover, .retry:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: transform .1s;
  transform: scale(1.1);
}

.rock:after, .paper:after, .scissors:after, .computer-choice:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rock img, .paper img, .scissors img, .computer-choice img {
  position: absolute;
  width: 60%;
  height: 60%;
}

.choices, .computer-choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.result {
  background: rgba(255, 255, 255, 0.05);
  width: 70%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border: solid white 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.retry {
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: solid white 2px;
  border-radius: 15px;
  margin: 20px;
  font-weight: bold;
  display: none;
}

/* ANIMATION */

.computer-choice img:nth-child(1) {
  opacity: 1;
  animation: image1Animation 1s infinite;
}

.computer-choice img:nth-child(2) {
  opacity: 0;
  animation: image2Animation 1s infinite;
}

.computer-choice img:nth-child(3) {
  opacity: 0;
  animation: image3Animation 1s infinite;
}

@keyframes image1Animation {
  0%, 33.3% {
    opacity: 1;
  }
  33.4%, 100% {
    opacity: 0;
  }
}

@keyframes image2Animation {
  0%, 33.3% {
    opacity: 0;
  }
  33.4%, 66.6% {
    opacity: 1;
  }
  66.7%, 100% {
    opacity: 0;
  }
}

@keyframes image3Animation {
  0%, 66.6% {
    opacity: 0;
  }
  66.7%, 100% {
    opacity: 1;
  }
}

.computer-choice.paused img {
  animation-play-state: paused;
}

/* FOOTER */

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  box-sizing: border-box;
  color: white;
  height: 5%;
  font-family: "asiana", sans-serif;
  font-size: large;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: grey;
}


.footer-links {
  font-size: x-large;
}

/* RESPONSIVE */

@media only screen and (min-width: 768px) {
  .result {
    width: 40%;
  }

  .rock, .paper, .scissors, .computer-choice {
    width: 12%;
    margin: 1%;
  }

  h1 {
    padding: 2%;
  }

}
